<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bikesh.scorpio.giventake" >

    <application
        android:name=".GiveNTakeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivitySplash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHome"
            android:label="@string/title_activity_activity_home" >
        </activity>
        <activity
            android:name=".ActivityLendAndBorrow"
            android:label="@string/title_activity_activity_lend_and_borrow" >
        </activity>
        <activity
            android:name=".ActivityLendAndBorrowIndividual"
            android:label="@string/title_activity_activity_lend_and_borrow_personal" >
        </activity>
        <activity
            android:name=".ActivityAddEntry"
            android:label="@string/title_activity_activity_add_entry" >
        </activity>
        <activity
            android:name=".ActivityAddGroup"
            android:label="@string/title_activity_activity_add_user" >
        </activity>
        <activity
            android:name=".ActivityPersonalExpense"
            android:label="@string/title_activity_activity_personal_expense" >
        </activity>
        <activity
            android:name=".ActivityPersonalExpenseIndividual"
            android:label="@string/title_activity_activity_personal_expense_individual" >
        </activity>
        <activity
            android:name=".ActivityJointExpense"
            android:label="@string/title_activity_activity_joint_expense" >
        </activity>
        <activity
            android:name=".ActivityJointExpenseIndividual"
            android:label="@string/title_activity_activity_joint_expense_individual" >
        </activity>
    </application>

</manifest>
